*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.banner{
    background-image: url(../home/beach_activities/background.jpg);
    height:450px; 
    width: 100%;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    opacity: 0.8;
    margin-bottom:300px;
}
.titlebg {
    background-color: #fff;
    margin-top: 200px;
    padding: 0 5%;
    z-index: -1;
}
.posttitle {
    font: 900 64px Montserrat;
    font-size: 64px;
    line-height: normal;
    line-height: 70px;
    display: block;
    margin: 20px auto 15px;
    color: #000;
    text-align: center;
    padding-top: 60px;
    /* max-width: 800px; */
    width: 100%;
    /* margin-bottom: 100px; */
}
  .date {
    display: inline-block;
    font: 400 14px 'Open Sans',sans-serif;
    text-transform: capitalize;
    color: #000;
}
.stats .author a {
    color: #000;
}
a {
    background-color: transparent;
    transition: color .3s ease-in-out,opacity .4s ease-in-out;
    text-decoration: none;
}
.hr1{
    display: block;
    width: 15%;
    height: 5px;
    margin: 30px auto;
    text-align: center;
    border: 0;
    background: #eb911c;
}
 
/* section 2 start  */
.p_text{
    font: 400 20px 'Open Sans',sans-serif;
    line-height: 28px;
    color: #4a4a4a;
    /* max-width: 780px; */
    margin: 1em auto; 
}
.postbody h2 {
    font: 700 30px/28px 'Open Sans',sans-serif;
    color: #4a4a4a;
    /* max-width: 780px; */
    margin-left: auto;
    margin-right: auto;
}
.postbody_h4 {
    font: 300 25px Montserrat,Arial,Sans-Serif;
    line-height: 42px;
}
.postbody_h4{
    letter-spacing: -1px;
    color: #565656;
    /* max-width: 780px; */
    margin-left: auto;
    margin-right: auto;
}
.postbody_p {
    font: 400 20px 'Open Sans',sans-serif;
    line-height: 28px;
    color: #4a4a4a;
    /* max-width: 780px; */
    margin: 1em auto;
}
.section2hr{
    width: 75%;
    margin-left: 145px;
}



/* section 2 end  */

/* section 3 start */
.postbody_h2{
    font: 700 30px/28px 'Open Sans',sans-serif;
    color: #4a4a4a;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}
.postbody_p2 {
    font: 400 20px 'Open Sans',sans-serif;
    line-height: 28px;
    color: #4a4a4a;
    max-width: 780px;
    margin: 1em auto;
}
.postbody_p2 a {
    transition: border .3s ease-in-out,color .4s ease-in-out;
    color: #f60;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}


/* section 3 end */



@media (max-width: 767px) {
.banner{ 
    width: 100%;
}
.titlebg {
    background-color: #fff;
    margin-top: 200px;
    padding: 0 5%;
}
.postbody_h2{
    font: 700 30px/28px 'Open Sans',sans-serif;
    color: #4a4a4a;
    /* max-width: 780px; */
    margin-left: auto;
    margin-right: auto;
}
.postbody_p2 {
    font: 400 20px 'Open Sans',sans-serif;
    line-height: 28px;
    color: #4a4a4a;
    /* max-width: 780px; */
    margin: 1em auto;
}
    }