@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.banner{
    background-image: url(../home/couple_package/back.jpg);
    height:300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: center;
	opacity:3;
}


.events-box{
	padding: 70px 0px;
}
.event-inner{
	margin-bottom: 30px;
	border: 10px solid #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.event-img{
	margin-bottom: 15px;
}

.event-inner a{
	background: #d17c04;
	color: #ffffff;
	padding: 5px 10px;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
}
.event-inner a:hover{
	background: #63c7bd;
}

